<!DOCTYPE html>
<head> 

<style>
        .rTable {
		    	display: table;
		    	width: 100%;
		}
		.rTableRow {
		    	display: table-row;
		}
		.rTableHeading {
		    	display: table-header-group;
		    	background-color: #ddd;
		}
		.rTableCell, .rTableHead {
		    	display: table-cell;
		    	padding: 3px 10px;
		    	border: 1px solid #999999;
		}
		.rTableHeading {
		    	display: table-header-group;
		    	background-color: #ddd;
		    	font-weight: bold;
		}
		.rTableFoot {
		    	display: table-footer-group;
		    	font-weight: bold;
		    	background-color: #ddd;
		}
		.rTableBody {
		    	display: table-row-group;
		}
</style>
</head>
<body>
{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<h2>Senitment analysis</h2>
<div class="rTable">
    <div class="rTableBody">
    <div class="rTableRow">
    <div class="rTableHead"><strong>Airline</strong></div>
    <div class="rTableHead">Map</div>
</div>

{{ twitter_list }}

{% for row in twitter_list %}
<p>

</div>
<div class="rTableRow">
<div class="rTableCell">{{ row }}</div>
<div class="rTableCell"><embed src="data/sentiment_{{ row }}.html" width="1000" height="500"></embed></div>
</div>
</p>
{% endfor %}


{% endblock %}
</body>